html {
    font-size: 10px;
    background: url(images/alarm-clock-art-background-1037993.jpg) bottom center;
    background-size: cover;
}
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.key {
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.4), 0 0 10px black;
    background: #9E9898;
    border: .3vw solid pink;
    border-radius: 10vw;
    margin: 1vw;
    font-size: 1.5vw;
    padding: 1.6vw .2vw;
    transition: all .07s ease;
    width: 10vw;
    text-align: center;
    color: white;
    text-shadow: 0 0 .5vw black;       
}

.key:nth-child(n + 6) {
    background: #298EB2;
    border: .3vw solid #D0FAD4;
}

.key:nth-child(5n) {
    background: transparent;
    border: transparent;
    width: 11vw;
    padding: 2vw .2vw;
    color: black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 3vw;
}

.sound {
    font-size: 1.1vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
}

.credit {
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 2vw;
    font-size: 1.1vw;
}